*{
    margin: 0;
    padding: 0;
    background: #f6f4f4; 
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
}

button{
    padding: 12px;
    font-size: 18px;
    width: 100%;
    max-width: 250px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    border: 1px solid #000000;
}

button:hover{
    background-color: rgb(14, 43, 122);
    color: azure;
}

input{
    padding: 12px;
    width: 100%;
    max-width: 250px;
    border: 1px solid #000000;
}

h1{
    color: #101386;
    margin: 10%;
    text-align: center;
}

@media (max-width: 600px){
    body{
        flex-direction: column;
        justify-content: center;
    }

    h1{
        margin: 5%;
        font-size: 1.5rem;
    }

    button,
    input{
        max-width: 85%;
    }
}
